# Develop Mode
it will run without installing in site-packages

In [1]:
import pandas as pd
from __init__  import DataFrameSummary

ImportError: cannot import name DataFrameSummary

In [13]:
df = pd.DataFrame.from_items([('A', [1, 2, 3]), ('B', [4, 5, 6])])

In [14]:
dfs =  DataFrameSummary(df)

inside pandas-summary-oct-07

In [15]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [16]:
dfs.columns_stats

                    A        B
counts              3        3
uniques             3        3
missing             0        0
missing_perc       0%       0%
types         numeric  numeric